{% load static %}
<footer id="contacto">
    <div class="footer contenedor">
        <div class="marca-logo">
            <br><br><br><br><br><br><br><br><br><br>
        </div>
        <div class="footer__icons">
            <a href="#" class="footer__icon fab fa-facebook-f"></a>
            <a href="#" class="footer__icon fab fa-twitter"></a>
            <a href="#" class="footer__icon fab fa-instagram"></a>
        </div>

        <div class="footer__nav">
            <p class="footer__text">Ó dejanos un <a href="{% url 'Home_app:contactanos' %}"
                    class="footer__link">mensaje</a></p>

        </div>

        <p class="footer__copy">Derechos reservados &copy; Salvemos</p>
    </div>
    </div>

</footer>