{% extends "Users/base_users.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style-login.css' %}">
{% endblock css %}

{% block title %}
Iniciar Sesión
{% endblock title %}

{% block content %}
{% include 'includes/header_login_signup.html' %}

<section class="login">
    <figure class="login__picture">
        <img src="{% static 'img/imglogin.svg' %}" alt="Imagen del login" class="login__img">
    </figure>

    <form class="login__form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <h2 class="login__title title">Ingresa a tu cuenta</h2>
        {{form.email}}
        {{form.password}}
        <div class="login__btn">
            <button type="submit" class="login__cta">Inicia sesión</button>
            <p class="login__text">No tienes una cuenta? </p>
            <a href="{% url 'Users_app:user-register' %}" class="login__signup">Registrate</a>
        </div>


    </form>
</section>
{% endblock content %}