{% extends "Users/base_users.html" %}

{% load static %}

{% block css %}
<link rel="stylesheet" href="{% static 'css/style-update_password.css' %}">
{% endblock css %}

{% block title %}
Actualizar contraseña
{% endblock title %}

{% block content %}
{% include 'includes/header_posts.html' %}

<section class="login">
    <figure class="login__picture">
        <img src="{% static 'img/imgforgotpassword.svg' %}" alt="Imagen del login" class="login__img">
    </figure>

    <form class="login__form" method="post" enctype="multipart/form-data">{% csrf_token %}
        <h2 class="login__title title">Actualiza tu contraseña</h2>
        {{form.password1}}
        {{form.password2}}
        <div class="login__btn">
            <button type="submit" class="login__cta">Actualizar</button>
        </div>


    </form>
</section>
{% endblock content %}